extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		.blog-div
			.blog-pull-left
				a(href='/blog/post/' + post.slug)
					img(src=post._.image.fit()).img.img-responsive.pull-left.cover.img-left
				a(href='/blog/post/' + post.slug)
					time.blog-published-date
						span.blog-post-date= post._.publishedDate.format('YYYY-MM-DD')
			.blog-pull-right
				h2.blog-post-headline: a(href='/blog/post/' + post.slug)= post.title
				.blog-textbody
					p!= post.content.brief
				.blog-post-author
					span!= '- ' + post.author.name.full
				.blog-post-category
					if post.categories && post.categories.length
						|
						each cat, i in post.categories
							a(href='/blog/' + cat.key)= '#' + cat.name
							if i < post.categories.length - 1
								| ,&nbsp;
							else
								|&nbsp;
				if post.content.extended
					.read-more
						a(href='/blog/post/' + post.slug).blog-read-more Läs mer

block intro
	.container
		.row
			.col-xs-6.col-sm-10.col-md-10
				h3
					span.highlight /
					| blogg
			.col-xs-6.col-sm-2.col-md-2.category-dropdown
				if data.categories.length
					.dropdown
						button#blogDropdownMenu.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
							| Kategorier&nbsp;
						ul.dropdown-menu(aria-labelledby='blogDropdownMenu')
							li
								a(href='/blog', class=!data.category ? 'active' : false).list-group-item Alla inlägg
							each cat in data.categories
								li
									a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name

block content
	.container: .row
		.col-sm-12.col-md-12
			.blog
				each post in data.posts.results
					+post(post)

					if data.posts.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					if data.category
						.col-xs-12.col-sm-offset-2.col-sm-8.col-md-8
							h4.text-center Det finns för närvarande inga blogginlägg i kategorin #{data.category.name}.
					else
						.col-xs-12.col-sm-offset-2.col-sm-8.col-md-8
							h4.text-center Det finns för nuvarande inga blogginlägg!