extends ../layouts/default

block content
  .container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.post-div
    article
      span.back-button
        a(href='/blog')
          span.highlight &larr;
          | tillbaka
      hr
      if !data.post
        h2 Ogiltigt inlägg.
      else
        .post-header
          img(src=data.post._.image.fit()).post-img
          h1.post-title= data.post.title
        .post-author
          span Skrivet av #{data.post.author.name.full}, #{data.post._.publishedDate.format('YYYY/MM/DD')}
        .post-brief
          != data.post.content.brief
        .post-extended
          != data.post.content.extended
          hr
        .post-category
          each cat, cat_i in data.post.categories
            a(href='/blog/' + cat.key)= '#' + cat.name
            if cat_i < data.post.categories.length - 1
              |&nbsp;
            else
              |&nbsp;